<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Logger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="APIKey" value=""/>
    <add key="RoomId" value=""/>
    <add key="CPUUsageThreshold" value="0.9"/>
    <add key="DiskUsageThreshold" value="0.8"/>
    <add key="ALLOWED_LOGTYPE" value="Application,System"/>
    <!-- 重大 => 1, エラー => 2, 警告 => 3, 情報 => 4, 詳細 => 5-->
    <add key="ALLOWED_ENTRYLEVEL" value="1,2,3"/>
  </appSettings>
    <userSettings>
        <Logger.Properties.Settings>
            <setting name="LastDate" serializeAs="String">
                <value />
            </setting>
        </Logger.Properties.Settings>
    </userSettings>
</configuration>